* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
body {
  min-height: 100vh;
  background: linear-gradient(35deg, #0f0a0a, 70%, #B91219);
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
}
.header a img {
  width: 3.5rem;
  scale: .9;
  filter: saturate(3);
  transition: 145ms ease;
}
.header a img:hover {
  filter: saturate(3);
  scale: 1;
}
.header .menu a {
  display: inline-block;
  padding: .5rem;
  position: relative;
  margin-left: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.header .menu a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #ff0000;
  opacity: 0;
  transition: 145ms ease;
}
.header .menu a:hover::before {
  top: 100%;
  opacity: 1;
}
section {
  width: 100%;
  padding: 13rem 10% 2rem;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .text-content {
  max-width: 550px;
}
.home .text-content h2,
.members .content h2 {
  text-transform: uppercase;
  font-size: 50px;
}
.home .text-content span,
.members .content h3 {
  color: #B91219;
  font-size: 35px;
}
.home .text-content p,
.members .content p {
  font-size: 25px;
}
.home .text-content .btn-cont button {
  padding: 1rem 1.5rem;
  border: 2px solid #B91219;
  border-radius: 6px;
  background: transparent;
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  transition: 145ms ease;
}
.home .text-content .btn-cont button:hover {
  background-color: #B91219;
  border: 2px solid #0f0a0a;
}
.home .image .image-set1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .image .image-set1 img {
  position: absolute;
  transform: translateX(-120%);
  filter: drop-shadow(0 0 5px #B91219);
  animation: popUp 500ms ease forwards,
             bounce 4s ease infinite;
  scale: 0;
}
@keyframes popUp {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
@keyframes bounce {
  0%,100% {
    transform: translateY(0) translateX(-120%);
  }
  50% {
    transform: translateY(-8px) translateX(-120%);
  }
}
.home .image .image-set1 img:nth-child(1) {
  top: -220px;
  z-index: -2;
}
.home .image .image-set1 img:nth-child(2) {
  top: -250px;
  z-index: -3;
  animation-delay: 200ms;
}
.home .image .image-set1 img:nth-child(3) {
  top: -235px;
  left: 180px;
  z-index: -3;
  animation-delay: 400ms;
}
.home .image .image-set1 img:nth-child(4) {
  top: -250px;
  left: -130px;
  z-index: -4;
  animation-delay: 600ms;
}
.home .image .image-set1 img:nth-child(5) {
  top: -370px;
  left: 80px;
  z-index: -4;
  animation-delay: 800ms;
}
.home .image .image-set1 img:nth-child(6) {
  top: -370px;
  left: -180px;
  z-index: -4;
  animation-delay: 1000ms;
}
.home .image .image-set1 img:nth-child(7) {
  top: -370px;
  left: -10px;
  z-index: -4;
  animation-delay: 1200ms;
}
.home .image .image-set1 img:nth-child(8) {
  top: -450px;
  left: -140px;
  z-index: -5;
  animation-delay: 1400ms;
}
.members .heading {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.members .heading span {
  color: #B91219;
}
.members .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.members .content img {
  width: 300px;
  height: 750px;
}